
.TuiPaper-root {
    /* padding: var(--paper-padding); */
    color: var(--font-color);
    background-color: var(--paper-backgroundColor);
    border: none;
    border-radius: var(--paper-border-radius);
    font-size: var(--fontSize);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    box-sizing: border-box;
    display: block;
}

.TuiPaper-elevation {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.TuiCard {
    overflow: hidden;
}